.language_img{
  width: 3vw;
  box-shadow: 0 0 0.1vw 0.1vw rgba(255, 255, 255, 0.79);
  border-radius: 50%;
  cursor: pointer;
  filter: invert(10%);
  @media (min-width: 0) and (max-width: 800px){
    width: 9vw;
  }
}
.language_img:active{
  width: 3vw;
  box-shadow: 0 0 0.1vw 0.1vw rgba(255, 255, 255, 0.79);
  border-radius: 50%;
  cursor: pointer;
  filter: invert(0);
  @media (min-width: 0) and (max-width: 800px){
    width: 9vw;
  }
}