.card_block{
  border: 1px solid #bbbbbb;
  box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.2);
  background: rgba(179, 185, 241, 0.22);
  width: 16.5vw;
  //height: 9.6vw;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 0) and (max-width: 800px) {
    width: 44vw;
    padding: 2vw 0;
  }
  .time{
    font-weight: 300;
    font-size: 1vw;
    margin: 0.5vw;
    @media (min-width: 0) and (max-width: 800px) {
      font-size: 2.7vw;
    }
  }
  .weather_report_block{
    display: flex;
    align-items: center;
    gap: 3vw;
    .weather_image{
      width: 4vw;
      @media (min-width: 0) and (max-width: 800px) {
        width: 10vw;
      }
    }
    .weather_celsius{
      font-size: 1.9vw;
      color: #0b6073;
      @media (min-width: 0) and (max-width: 800px) {
        font-size: 4.7vw;
      }
    }
  }
  .weather_description{
    margin: 0;
    font-size: 1vw;
    color: #0b6073;
    @media (min-width: 0) and (max-width: 800px) {
      font-size: 2.7vw;
    }
  }
  .weather_feel{
    margin: 0 0 0.5vw;
    font-size: 1vw;
    color: #0b6073;
    @media (min-width: 0) and (max-width: 800px) {
      font-size: 2.7vw;
    }
  }
}