.wrapper{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(#acbecc, #99a8bb);
  .clouds_back{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .cloudOne{
    position: fixed;
    top: 30vh;
    left: 10vw;
    width: 100vw;
    animation: infiniteScroll 250s linear infinite;
    z-index: 10001;
  }
  .cloudTwo{
    position: fixed;
    top: 10vh;
    left: -50vw;
    width: 100vw;
    animation: infiniteScroll2 300s linear infinite;
    z-index: 10001;
  }
  .cloudThree{
    position: fixed;
    left: 0;
    top: 13vh;
    width: 100vw;
    animation: infiniteScroll3 300s linear infinite;
    z-index: 10001;
  }
  .cloudFour{
    position: fixed;
    left: -100vw;
    width: 100vw;
    top: 25vh;
    animation: infiniteScroll2 200s linear infinite;
    z-index: 10001;
  }
  .cloudFive{
    position: fixed;
    right: -100vw;
    width: 100vw;
    top: -5vh;
    animation: infiniteScroll 200s linear infinite;
    z-index: 10001;
  }
}
@keyframes infiniteScroll {
  50%{
    transform: translateX(-106.6666%);
  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes infiniteScroll2 {
  50%{
    transform: translateX(106.6666%);
  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes infiniteScroll3 {
  50%{
    transform: translateX(106.6666%);
  }
  100%{
    transform: translateX(0%);
  }
}
