.card_wrapper {
  display: flex;
  width: 85vw;
  justify-content: center;

  .card_container {
    border-radius: 2vw;
    box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.2);
    width: 32vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: #b3b9f1;
    cursor: pointer;
    .delete_cross{
      width: 1.1vw;
      top: 2.1vw;
      right: 2.1vw;
      position: absolute;
      cursor: pointer;
      filter: invert(100%);
      transition: 0.2s ease-in-out;
    }
    .delete_cross:hover{
      width: 1.1vw;
      top: 2.1vw;
      right: 2.1vw;
      position: absolute;
      cursor: pointer;
      filter: invert(0%);
      transition: 0.2s ease-in-out;
    }
    .city_name {
      color: #ffffff;
      font-size: 2vw;
      font-weight: 500;
    }

    .more_info {
      font-style: oblique;
      font-size: 1.3vw;
      color: #010f13;
      font-weight: 300;
    }

    .weather_report_block {
      display: flex;
      gap: 2vw;
      .weather_image {
        width: 8vw;
        height: 8vw;
      }
      .weather_celsius {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 4vw;
      }
    }
    .weather_description{
      color: #ffffff;
      font-size: 1.3vw;
      margin: 0;
    }
    .weather_feel{
      margin-top: 0;
      color: #ffffff;
      font-size: 1.3vw;
    }
  }
}

