.card_wrapper {
  display: flex;
  width: 85vw;
  justify-content: center;
  @media (min-width: 0) and (max-width: 800px){
    width: 90vw;
  }

  .card_container {
    border-radius: 2vw;
    box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.12);
    width: 32vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: rgba(221, 240, 250, 0.58);
    cursor: pointer;
    animation: init 2s ease-in-out ;
    @media (min-width: 0) and (max-width: 800px){
      width: 90vw;
    }
    .delete_cross{
      width: 1.1vw;
      top: 2.1vw;
      right: 2.1vw;
      position: absolute;
      cursor: pointer;
      filter: invert(100%);
      transition: 0.2s ease-in-out;
      @media (min-width: 0) and (max-width: 800px) {
        width: 6vw;
        top: 6vw;
        right: 6vw;
      }
    }
    .delete_cross:hover{
      width: 1.1vw;
      top: 2.1vw;
      right: 2.1vw;
      position: absolute;
      cursor: pointer;
      filter: invert(0%);
      transition: 0.2s ease-in-out;
      @media (min-width: 0) and (max-width: 800px) {
        width: 6vw;
        top: 6vw;
        right: 6vw;
      }
    }
    .city_name {
      color: #062749;
      font-size: 2vw;
      font-weight: 500;
      @media (min-width: 0) and (max-width: 800px){
        font-size: 6vw;
        margin-bottom: 0.5vw;
      }
    }

    .more_info {
      font-style: oblique;
      font-size: 1.3vw;
      color: #041434;
      font-weight: 300;
      @media (min-width: 0) and (max-width: 800px){
        font-size: 5vw;
        margin-bottom: 0;
      }
    }

    .weather_report_block {
      display: flex;
      gap: 2vw;
      @media (min-width: 0) and (max-width: 800px){
        gap: 0;
      }
      .weather_image {
        width: 8vw;
        height: 8vw;
        @media (min-width: 0) and (max-width: 800px){
          width: 40vw;
          height: 40vw;
          position: relative;
          left: -6vw;
        }
      }
      .weather_celsius {
        display: flex;
        align-items: center;
        color: #030a25;
        font-size: 4vw;
        @media (min-width: 0) and (max-width: 800px){
          font-size: 13vw;
        }
      }
    }
    .weather_description{
      color: #041533;
      font-size: 1.3vw;
      margin: 0;
      @media (min-width: 0) and (max-width: 800px){
        font-size: 6vw;
      }
    }
    .weather_feel{
      margin-top: 0;
      color: #04062c;
      font-size: 1.3vw;
      @media (min-width: 0) and (max-width: 800px){
        font-size: 6vw;
      }
    }
  }
}

@keyframes init {
  from { left: -100vw; }
  to { left: 0; }
}

