.wrapper{
  display: flex;
  justify-content: center;
  padding: 10vw 5vw;

  .container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85vw;
    justify-content: center;
    align-items: center;
    gap: 4vw;

  }
  .container_hidden{
    display: flex;
    flex-direction: column;
    width: 85vw;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    position: fixed;

  }
}
