.wrapper{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(17, 12, 12, 0.09);
  background: rgba(221, 240, 250, 0.58);
  position: fixed;
  width: 100%;
  height: 10vh;
  top: 0;
  z-index: 1;
  box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.2);
  .container{
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .searcher_block{
      display: flex;
      .add_city_button{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        padding: 0 1vw;
        cursor: pointer;
        color: white;
        background: rgba(10, 97, 157, 0.74);
        border: #0a619d 1px solid;
        font-size: 0.9vw;
        border-radius: 0.2vw;
      }
      .add_city_button:hover{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        padding: 0 1vw;
        cursor: pointer;
        color: white;
        background: #0a619d;
        border: #0a619d 1px solid;
        font-size: 0.9vw;
        border-radius: 0.2vw;
      }
      .add_city_button:active{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        padding: 0 1vw;
        cursor: pointer;
        color: #0a619d;
        background: #ffffff;
        border: #0a619d 1px solid;
        font-size: 0.9vw;
        border-radius: 0.2vw;
      }
    }
    .logo_header{
      color: white;
    }
    .input{
      height: 2vw;
    }
  }
}
