.wrapper {
  background: rgba(250, 249, 249, 0.29);
  position: absolute;
  top: 0;
  backdrop-filter: blur(8px);
  z-index: 30000;
  width: 100vw;
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    .header{
      background: linear-gradient(rgba(232, 232, 232, 0.6), rgba(225, 217, 217, 0.6));
      position: sticky;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 10000000000;
      .city_name {
        font-size: 3vw;
        color: #0a619d;
      }
      .delete_button {
        position: absolute;
        z-index: 3001;
        width: 1.8vw;
        top: 3vw;
        right: 3vw;
        cursor: pointer;
        filter: invert(30%);
        transition: 0.1s ease-in-out;
      }

      .delete_button:hover {
        position: absolute;
        z-index: 3001;
        width: 1.8vw;
        top: 3vw;
        right: 3vw;
        cursor: pointer;
        filter: invert(0%);
        transition: 0.1s ease-in-out;
      }
    }
    .weather_days {
      padding: 5vw 3vw;
      width: 76vw;
      align-items: start;
    }
  }
}